body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    color: #FFD100;
    padding: 15px 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

nav h1 {
    margin: 0;
    font-size: 28px;
}

nav button {
    margin-left: 20px;
    padding: 12px 18px;
    font-size: 18px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #FFD100;
}

nav button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.container {
    text-align: center;
}

.tela {
    font-size: 24px;
    background-color: black;
    color: #D6D6D6;
    padding: 25vh 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tela h2 {
    font-size: 72px;
    margin: 5px 0;
}

.tela p {
    font-size: 36px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10vh 20px;
}

.skill i {
    font-size: 80px;
    color: #333;
}

.skill p {
    margin-top: 10px;
    font-size: 24px;
    color: black;
}

.skills h1 {
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #FFD100;
}

.sobre {
    display: flex;
    align-items: center;
    padding: 10vh 20px;
    background-color: #f4f4f4;
}

.imagem-sobre img {
    width: 350px;
    height: auto;
    border-radius: 20%;
}

.texto-sobre {
    margin-left: 40px;
    font-size: 24px;
}

.texto-sobre h1 {
    font-size: 36px;
    color: #FFD100;
    margin-bottom: 20px;
}

.texto-sobre p {
    font-size: 20px;
    color: #333;
}
